/*---------------------------------------------------------------------------------
   Common Styles
---------------------------------------------------------------------------------*/

/*float styles*/

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/** Custom Body Styles */

body {
    font-family: 'Ruda', sans-serif;
    background-color: white;
    background-image: url(../img/headphones.jpg);
    background-repeat:no-repeat
}

/** Header Styles */
h1 {
    text-align: center;
    font-size: 4em;
}

.quiz{
    width:500px;
    height:400px;
    margin: 0 auto;
    background-color: lightgray;
    border-radius: 10px;
    font-size:1.5em;

}

.question {
    text-align:left;
    font-weight: bolder;
}

.answer {
    background-color: darkgray;
    text-align:center;
}

.start, .submit {
    margin-left:4em;
    border-radius:10px;
    border: 1px solid white;
    background-color:white;
    font-weight:bold;
    font-size:0.7em;
}

