/*---------------------------------------------------------------------------------
   Common Styles
---------------------------------------------------------------------------------*/


/*float styles*/

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/** Custom Body Styles */

body {
    font-family: 'Ruda', sans-serif;
    background-color: black;
}


/** Header Styles */

.headerbar {
    width: 100%;
    height: 500px;
    background-image: url(../img/bk5.jpg);
    background-repeat: no-repeat;
    background-position: 0% 87%;
    background-size: cover;
    opacity: 0.6;
}

h1 {
    position: relative;
    bottom: 4em;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family: 'Ruda', sans-serif;
    font-size: 3em;
    font-weight: bold;
}

.quiz {
    margin-left: 90px;
    float: left;
    width: 40%;
    margin-left: 200px;
    margin-top: -70px;
}

.quiz,
p {
    color: white;
    font-size: 1.5em;
}

form p {
    text-align: left;
}

.answer {
    background-color: #848181;
    display: none;
    float: left;
    color: white;
    margin-top: -10px;
    margin-left: 80px;
}

img {
    width: 50%;
    height: 50%;
}

.submit {
    border-radius: 5px;
    text-shadow: 0;
    border: none;
}

.start {
    border-radius: 5px;
    text-shadow: 0;
    border: none;
}
}

.submit:hover {
    background-color: #848181;
}
